* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.edge {
    padding-left: 0.5rem;
}

nav, footer, .official, .event {
    background-color: rgb(227, 226, 226);
}

nav {
    display: flex;
    align-items: center;
}

#logo-container {
    flex-grow: 1;
}

#logo {
    max-height: 2.5rem;
    margin: .5rem;
}

.nav-link {
    margin-right: 1rem;
}

#page-title {
    margin-top: 1rem;
    font-size: 39px;
}

#main-button {
    margin-left: .5rem;
}

#get-involved-section {
    padding-bottom: 2rem;
}

h2 {
    margin-top: 0;
    padding-top: 1rem;
}

.official {
    padding: 1rem 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 4px;
}

.call-to-action {
    padding: 0.5rem;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 4px;
    background-color: rgb(85, 204, 255);
}

.action-button {
    margin-left: 1rem;
}



/* More photos here: https://accls.smugmug.com/Southeast-Clarke-Park/Skate-Camp-2023/n-vv7X64/i-VrXNgDS/A */
#hero-img-container {
    position: relative;
    color: white;
    font-size: larger;
    background-image: url('./mainImages/kickturn.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
    z-index: 1;
}

#hero-shade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: black;
    opacity: 0.6;
}

#hero-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    opacity: 2;
}

.event {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 4px;
    border: 1px solid black;
}

.event h4, .event p {
    display: inline;
}

/* There might be better photos for this. */
#event-1-img-container {
    margin: 1rem;
    min-width: 30vw;
    background-image: url('./mainImages/meeting_cropped.jpg');
    background-size: cover;
    background-position: top;
}

#event-2-img-container {
    margin: 1rem;
    min-width: 30vw;
    background-image: url('./mainImages/meeting_emblem.jpg');
    background-size: cover;
    background-position: center;
}

#gallery-image {
    max-height: 60vh;
}

footer p {
    margin: 0;
    padding: 0.25rem;
}

.social-link {
    text-decoration: none;
}

@media screen and (min-width: 661px) {
    #page-title {
        font-size: 55px;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 800px) {
    #intro-text {
        max-width: 40vw;
    }
    
    .event-image {
        min-height: 11rem;
    }
}
