* {
    box-sizing: border-box;
}

nav, footer, #get-involved {
    background-color: lightblue;
}

nav {
    display: flex;
    align-items: center;
}

#logo-container {
    flex-grow: 1;
}

#logo {
    max-height: 2.5rem;
    margin: .5rem;
}

.nav-link {
    margin-right: 1rem;
}

#page-title {
    margin-top: 0;
}

#get-involved {
    padding-bottom: 2rem;
}

h2 {
    margin-top: 0;
    padding-top: 1rem;
}

.official {
    background-color: white;
    padding: 1rem 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border: 1px solid black;
}

.call-to-action {
    border: 1px solid black;
    padding: 0.5rem;
    background-color: white;
}

.action-button {
    margin-left: 1rem;
}

/* More photos here: https://accls.smugmug.com/Southeast-Clarke-Park/Skate-Camp-2023/n-vv7X64/i-VrXNgDS/A */
/* Please feel free to substitute photos. */
#hero-img-container {
    color: white;
    font-size: larger;
    background-image: url('./kickturn.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
}

.event {
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* There might be better photos for this. */
#event-1-img-container {
    margin: 1rem;
    min-width: 30vw;
    background-image: url('./meeting_cropped.jpg');
    background-size: cover;
    background-position: top;
}

#event-2-img-container {
    margin: 1rem;
    min-width: 30vw;
    background-image: url('./meeting_emblem.jpg');
    background-size: cover;
    background-position: center;
}



